* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 130px;
  margin: 20px 40px;
}

.parent {
  display: flex;
}
.one {
  border: 3px black solid;
  margin-left: 40px;
  padding-bottom: 50px;
}
p {
  padding: 20px;
}
h3 {
  display: flex;
  justify-content: center;
  margin-top: 40%;
}
