* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10%;
  margin: 20px 30px;
}

.parent {
  display: flex;
  flex-direction: row;
}
/* #div-1 {
  background-color: rgba(226, 48, 108, 255);
  color: aliceblue;

  border: 3px aliceblue solid;
  border: radius 40px;
} */
.one {
  border: 2px black solid;

  margin-left: 50px;

  padding-bottom: 30px;
}
img {
  height: 100px;
  width: auto;

  display: block;
  margin: auto;
}
h3 {
  display: flex;
  justify-content: center;

  font-size: 30px;
}
.p-1 {
  padding: 20px;

  font-size: 16px;

  text-align: center;
}

.a-1 {
  display: inline-block;
  height: auto;
  width: 100%;
  
  color: aliceblue;

  background-color: black;

  border-radius: 40px;

  padding: 15px;
}

/* .button-1 {
  border-radius: 40px;

  background-color: papayawhip;
} */

.fa-instagram {
  font-size: 4rem;

  color: white;

  margin-left: 40%;
  margin-top: 13px;
  margin-bottom: 10px;
}
